.employee-view {
  font-size: 20px;
}

.top {
  height: 100px;
}

.employee-table {
}

/* .col {
  height: 60px;
} */

.table-row {
}

.col-label {
  font-weight: bold;
  text-align: center;
}

.col-data {
}

/* .sp-label {
  height: 100%;
} */

.col-data {
}
