html,
body {
  height: 100%;
  background-image: linear-gradient(#c6ffdd, #fbd786, #de6a50);
}

.hifiLogo {
  position: absolute;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 400px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.67);
  border-radius: 10px;
}

.signupCard {
  height: 400px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.67);
  border-radius: 10px;
}

.facebookIcon {
  color: #4266b2;
}

.googleIcon {
  color: #d64937;
}

.twitterIcon {
  color: #1ea1f2;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  padding-top: 8%;
  color: rgb(73, 73, 73);
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #fbd786;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: rgb(73, 73, 73);
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.card-body {
  padding-bottom: 10px !important;
}

.noAccount {
  color: rgb(73, 73, 73);
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.label {
  padding-top: 15px;
}

.signup_btn {
  margin-top: 25px;
}



/* Employee New Form */
.home {
  text-align: center;
  padding-top: 40px;
  font-size: 60px;
  color: #de6a50;
}

#createEmployee #ce-row #ce-column #ce-box {
  margin-top: 80px;
  max-width: 600px;
  height: 400px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}

#createEmployee #ce-row #ce-column #ce-box #ce-form {
  padding: 20px;
}